.top-container{
    background-color: #E4F9F5;
    padding: 50px;
}
body
{
  margin: 0;
  text-align: center;
  color: #40514E;

}
.profiles{
  width: 25%;
}
.topcloud
{
  position: absolute;
  left: 60%;
  top: 50px;
}
hr{
  width:4%;
  border-style: dotted;
  border-bottom: none;
  border-color:  #EAF6F6;
  border-spacing: 6px;
  margin: 100px auto;
  border-width: 6px;


}
.bottom-cloud
{
  position: absolute;
  top: 400px;
  left: 33;


}
a{
  font-family: 'Montserrat',sans-serif;
  text-decoration: none;
}
a:hover{
  color: green;
}
h1
{
  margin: 50px auto;
  font-family: 'Sacramento',sans-serif;
  font-size: 5.62rem;
  color: #66BFBF;

}


p{
  font-family: 'Montserrat',sans-serif;
  font-size: 20px;
}
.skill-row
{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.photo
{


  width: 25%;
  float: left;
  margin-right: 30px;

}
.photos
{

  width: 25%;
  float: left;
  margin-right: 30px;
}
h2
{
  font-family: 'Montserrat',sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: bolder;

}
h3
{
  color: #11999E;

}
.bottom-container
{
  background-color: #11999E;
  padding: 20px;
}
.middle-container
{
  margin: 100px auto;
}
